body{
    background-color: #14242c;
}
.choose{
    margin: auto;
    color: black;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    align-items: center;
    display: flex;
}
.hero__svg{
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    align-items: center;
    display: flex;
}
.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

.btn-toolbar{
    margin-right: 15px;
}

@media (max-width: 640px)
{
    .hero__svg{zoom: 0.5; margin-left:2%; margin-right:auto;}
    .choose{visibility: hidden;}

}

