body{
    background-color: #112852;
}
.choose{
    margin: auto;
    color: black;
    position: Absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    align-items: center;
    display: flex;
}
.hero__svg{
    fill: white;
    position: absolute;
    top: 43%;
    left: 50%;
    /* width: 100px; */
    margin-right: -50%;
    transform: translate(-50%, -50%);
    align-items: center;
    display: flex;
}
.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

button.btn.btn-outline-light {
    border-radius: 17px;
}

.btn-outline-light,

.btn-outline-light:visited {
    border-color: #87DDFD;
}

.btn-outline-light:hover,
.btn-outline-light:active,{
    background-color: #2D6CDF !important;
}


.btn-toolbar{
    margin-right: 15px;
}

@media (max-width: 640px)
{
    .hero__svg {
        top: 50%;
        zoom: 0.5;
        margin-left: 2%;
        margin-right: auto;
    }
    .choose{visibility: hidden;}

}

